<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间与对应映射接口的全类名一致 -->
<mapper namespace="com.yc.mybatis.mapper.MoneyMapper">
	<insert id="insertMoney" parameterType="Money">
		insert into punish_award
		values(seq_paid.nextval,#{pamoney},#{punishaward_id},#{moneymonth})
	</insert>

	<!-- <select id="getAllM" parameterType="Money" resultType="Money"> select 
		* from punish_award </select> -->

	<resultMap type="Money" id="EmpMap03">
		<id property="paid" column="paid"/>
		<result property="pamoney" column="pamoney"/>
		<result property="punishaward_id" column="punishaward_id"/>
		<result property="moneymonth" column="moneymonth"/>
		<association property="person" javaType="Person">
			<id property="pid" column="pid"/>
			<result property="pname" column="pname"/>
		</association>
	</resultMap>

	<select id="getAllM" resultMap="EmpMap03">
		select * from punish_award pa join person p on p.pid=pa.punishaward_id
	</select>
	
	
	
	<resultMap type="Money" id="Mon">
		<id property="paid" column="paid"/>
		<result property="pamoney" column="pamoney"/>
		<result property="punishaward_id" column="punishaward_id"/>
		<result property="moneymonth" column="moneymonth"/>
	</resultMap>
	
	<select id="getMoneyById" parameterType="int" resultMap="Mon">
		select * from punish_award where punishaward_id=#{paid}
	</select>

 	<select id="getById" parameterType="int" resultType="Money">
		select *
		from punish_award where paid=#{dpid}
	</select>
	
	
	<select id="getDpNameById" parameterType="int" resultType="Person">
		select * from person where pid=#{personid}
	</select>
	<update id="updateMoney" parameterType="Money" flushCache="false">
		update punish_award set
		pamoney=#{pamoney},punishaward_id=#{punishaward_id},moneymonth=#{moneymonth}
		where paid=#{paid}
	</update>
	
	<delete id="delMoney" parameterType="int">
		delete from punish_award where paid=#{paid}
	</delete>
	
</mapper>